h1, h2, #view div, #result{
    text-align: center;
}

h1{
    font-family: "Electrolize", sans-serif;
    -webkit-text-stroke: .5px black;
    
}
header {
    display: flex;
    justify-content: center;  /* Center the title */
    align-items: center;
    position: relative; /* So we can absolutely position the time */
    width: 100%; /* Full width to ensure proper centering */
}

/* Styling the time */
#current-time {
    position: absolute; /* Positioning on the right */
    right: 2px; /* Adding some space from the right edge */
    padding: 5px 10px;
    font-size: 15px;
    font-weight:400;
    background-color: white;
    border-radius: 4px;
}


body{
    padding: 20px;
    font-family: sans-serif;
    background-color: #F7F7F7;
}


#view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

#view div {
    border: 1px solid black;
    padding: 1px 8px;
    font-size: 10;
    font-weight: 100;
}

#view div:hover {
    background-color: #2C057D;
    color:white
} 

#result {
    background-color: orange;
    width: 50%;
    margin:0 auto;
    overflow-wrap: anywhere;
    font-size: 15;
    font-weight: 100;
    /* border:5px solid black; */
}


.dashboard{
    height:100vh;
}
/* Parent container to hold the two mini charts */
.top-charts {
    display: flex;
    justify-content: center; /* Space out the mini charts */
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px; /* Space before the main chart */
    min-height: 35%;
    gap: 20px;
}

/* Mini charts styling */
.mini-chart {
    width: 48%; /* Adjust width to fit two side-by-side */
    min-width: 300px; 
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    place-items: center;
    text-align: center;
    flex-direction: column;
}


.mini-chart h3{
    margin-bottom: 0px;
    position: relative; 
    top: 5%; 
}

.mini-chart p{
    font-size:2rem;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #a0d0f6;
    border-radius: 50%; /* Makes the div a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: auto ;

}

#movement{
    padding: 20px; 
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    height: 100vh;
}



/* Main chart container */
#chartI {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* border: 1px solid black; */
    width: 60%;
    min-width: 660px;
    height: 45%;
    min-height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius:10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position:relative;
}

#chartI h3{
    
    margin-bottom: 0px;
    position: relative; 
    top: 5%; 
}


/* Main chart container */
#inflow {
    box-sizing:border-box;
    padding:50px;
}



#inflow{
    width:100%;
}

.datePicker{

    display: flex;
    position:absolute;
    top:10px;
    right:10px;
    gap:10px;
    align-items: center;

}

#dateDisplay{
    color:black;
    font-size:.8rem;
    margin:0 auto;
}



/* Dark Mode */

#dark-mode-button {
    position: absolute; /* Positioning on the left */
    left: 2px; /* Adding some space from the left edge */
    padding: 5px 10px;
    cursor:pointer;
    font-size: 12px;
    font-weight:400;
    background-color: black;
    color:white;
    border:none;
    border-radius: 4px;
}

body.dark-mode {
    padding: 20px;
    font-family: sans-serif;
    background-color: #1A1A1A;
}

body.dark-mode h1 {
    font-family: "Electrolize", sans-serif;
    color: white;
    -webkit-text-stroke: .5px white;
}

body.dark-mode #view div{
    border: 1px solid white;
    padding: 1px 8px;
    font-size: 10;
    font-weight: 100;
    color: white
}

body.dark-mode #chartI {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;     /* Vertically centers the content */
    /* color: white; */
    /* background-color: #0c0a0a60; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* border: 1px solid white; */
    width: 60%;
    min-width: 660px;
    height: 40%;           /* Height for the container */
    min-height: 200px;
    margin:0 auto;
    overflow: hidden;
}