body {
  background-color: #fdca5c;
}
#confetti {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  display: none;
}
.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  animation: pop 1s linear forwards;
}
@keyframes pop {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y));
    opacity: 0;
  }
}
